<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <h2 class="mb-3">Registro</h2>
            <form action="/api/v1/usuarios" method="POST">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const form = document.querySelector('form');
  form.addEventListener('submit', async (event) => {
    event.preventDefault();

    const nombre = document.querySelector('#nombre').value;
    const email = document.querySelector('#email').value;
    const password = document.querySelector('#password').value;

    try {
      const response = await axios.post('/api/v1/usuarios', { nombre, email, password });

      if (response.status === 201) {
        // Usuario creado exitosamente
        alert('Usuario creado con éxito');
        window.location.href = '/login'; // Cambia '/login' por la ruta correcta a la página de inicio de sesión
      } else {
        // Ocurrió un error al crear el usuario
        alert('Error al crear el usuario. Por favor, inténtalo de nuevo.');
      }
    } catch (error) {
      // Error en la solicitud
      console.error(error);
      alert('Error al crear el usuario. Por favor, inténtalo de nuevo.');
    }
  });
</script>
