<style>
  .back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
  }
</style>

<!-- INICIO FOOTER -->
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <span class="mb-3 mb-md-0 text-muted">© Aguimad Company 2023</span>
  </div>
  <button class="btn btn-primary small-button back-to-top-btn" onclick='window.scrollTo({top: 0, behavior: "smooth"});'>Volver arriba</button>
</footer>
<!-- FIN FOOTER -->
