<div id="login-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Por favor, inicie sesión o regístrese para dar "like" o "dislike"</h2>
    <a href="/login" class="btn btn-primary">Iniciar sesión</a>
    <a href="/register" class="btn btn-primary">Registrarse</a>
  </div>
</div>